<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 davidaaronyoung.com All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tcmp_opcache>
            <settings>
                <show_in_menu>0</show_in_menu>
                <show_scripts>0</show_scripts>
            </settings>
        </tcmp_opcache>
    </default>
</config>
